<div class="grid-x">
  <div class="cell">
    <ul>
    {{#each data as |element|}}
      <li>
        {{#if (condition (compare @key '==' 'revenue') 'OR' (compare @key '==' 'rpe'))}}
          {{@key}} : {{formatMoney this}}
        {{else if (includeString @key '_rate')}}
          {{@key}} : {{this}}%
        {{else}}  
          {{@key}} : {{this}}
        {{/if}}
      </li>
    {{/each}}
    </ul>
  </div>
</div>
